In [13]:
def khighestfrequency(s,k):
   #unique characters with freq in a dictionary
    unique={}
    for i in s:
        if i not in unique:
            unique[i]=1
        else:
            unique[i]+=1                                                         
    l=[]                                                   #{9: 2, 7: 6, 6: 4, 5: 1, 2: 1, 3: 1, 4: 1}    
    for value in unique.values():                          #Extract all unique frequencies in a list
        if value not in l:
            l.append(value)
    l=sorted(l,reverse=True)
    if len(l)>k:
        kfreq=l[k-1]
    else:
        return -1
    kfreqchar=[]
    for key in unique.items():
        if key[1]==kfreq:
            kfreqchar.append(key[0])
    return min(kfreqchar)
with open('DataFiles/largest-k.txt','r') as f:
    t=int(f.readline())
    for i in range(t):
        s=f.readline()
        k=int(f.readline())
        print(khighestfrequency(s,k))

s
g
h
e
w
r
n
k
-1
-1

In [11]:
# Function to identify the element with highest frequency in a list
# If many elements have the have the highest frequency, return the smallest
# highestFrequencyElement([1,2,3,9,8,7,3,4,2,1]) -> 1
def highestFrequencyElement(li):
    #Extracting unique elements with frequencies
    unique = {}
    for n in li:
        if n in unique:
            unique[n] += 1
        else:
            unique[n] = 1
    # unique = {1:2, 2:2, 3:2, 9:1, 8:1, 7:1, 4:1}
    maxfreq = max(unique.values())
    
    #Extract all keys with maxfreq in a list
    maxfreqkeys = []
    for item in unique.items():
        #item -> (key, value)
        # item[1]
        if item[1] == maxfreq:
            maxfreqkeys.append(item[0])
    
    return min(maxfreqkeys)

highestFrequencyElement([1,2,3,9,8,7,3,4,2,1])

1

In [39]:
s="bhanu Reddy"
l=s.split()
h=l[1][0]

print('h','.',l[0])

h . bhanu

In [50]:
# function to print all combinations of pairs of integers in a uique list

# [1,2,3] -> (1,2),(1,3),(2,3) -> 3C2 -> 3!/((3-2)!*2!)
# [1,2,3,4] -> 1,2   1,3   1,4   2,3   2,4   3,4

def combinations(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li = [1,2,3,4,5]
combinations(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [65]:
# [1,2,3] -> [1,2,3]
def differencepairs(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
li=[1,2,3]
differencepairs(li)

[1, 2, 3]

In [66]:
def differencepairs(li):
    cli=li
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d = abs(li[i]-li[j])
            if d not in cli:
                li.append(d)
    return cli
li=[1,9,8]
differencepairs(li)

[1, 9, 8, 7, 2]

In [69]:
def differencepairs(li):
    cli=li
    newelements=[]
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d = abs(li[i]-li[j])
            if d not in cli:
                newelements.append(d)
    return newelements
li=[1,9,8]
differencepairs(li)

[7]

In [20]:
def medium(li,k):

    count=1
    while(True):
            li3=differencepairs(li)
            if li3[0] == li3[1]:
                break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]    
    return -1
# function to identify differencies of all pairs of numbers and add those differencies to the same list
def differencepairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,9,8,7,6,2,45678]
differencepairs(li)

[[1, 9, 8, 7, 6, 2, 45678],
 [1, 9, 8, 7, 6, 2, 45678, 5, 45677, 3, 45669, 45670, 45671, 4, 45672, 45676]]

In [21]:
[4,8]

[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an Arithmatic Progression

[3,8]

[3, 8]

In [23]:
a=[1,2,3]

b=[1,3,2]
a=b.copy()
a=b[:]
a=b
b.append(4)
a.append(5)
a

[1, 3, 2, 4, 5]

In [36]:
def differencepairs(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(li[i]-li[j]):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li
li=[3,6,9,12]
differencepairs(li)

UnboundLocalError: local variable 'j' referenced before assignment

# Set - Data Strcture in Python

Represented by '{}'
No repeated elements incase repeated elements are coming but the set is taken only one element.

In [43]:
a={1,2,3,4,5,5,6,6}
a
a.add(10)
a
a.remove(2)
a

{1, 3, 4, 5, 6, 10}

In [44]:
h={1,2,3,4,5,8,9,10}
li=[12,11,13]
h.update(b,li)              # add
h

{1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13}

In [45]:
h.discard(2) # delete
h

{1, 3, 4, 5, 8, 9, 10, 11, 12, 13}

In [58]:
a={1,2,3,4,5,6,7,8,9,10}
b={11,12,13,14,15,1,2,3}
c={111,222,333}
a.union(b)
b.union(a)
a.intersection(b)
b.intersection(a)
a.isdisjoint(b)
b.isdisjoint(c)

True

In [59]:
a-b # All elements of a which are not in b

{4, 5, 6, 7, 8, 9, 10}

In [60]:
b-a

{11, 12, 13, 14, 15}

In [61]:
c-a

{111, 222, 333}

In [62]:
sorted

In [63]:
sorted(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
set(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [65]:
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
type(a)

set

In [67]:
sorted(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
type(a)

set

In [70]:
a={1,2,3,4,5,6,7,8,9,10}
b={11,12,13,14,15,1,2,3}
a ^ b

{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [75]:
li={1,2,34,567,8}
u=set(li)
u

{1, 2, 8, 34, 567}

Procedural: C

Object Oriented: Java,Python

Scripting: PHP,Python,Javascript,Shell.Peral
Functional: Python,Haskell,Scala

Logic: Prolog,Lisp

# List Comprehensions

In [78]:
# N natural numbers in a list

n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
# Apply list comprehension to store the cubes on n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [86]:
# function to calculate the factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)
factorial(3)
# Apply list comprehension to calculate factorial of n natural numbers
n=10
factoriallist=[factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [90]:
# store cumulative sum of numbers till n in a list

# n=5 -> [1,3,6,10,15]

def csum(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    return sum
csum(5)

15

In [91]:
n=6

cumilativesum=[sum(range(1,i+1)) for i in range(1,n+1)]
cumilativesum

[1, 3, 6, 10, 15, 21]

In [95]:
# List comprehension to store only leap years in a given time period

st=1970
et=2019
leapyears=[i for i in range(st,et+1) if i%400==0 or (i%100!=0 and i%4==0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [96]:
li=[1,2,3,2,1]

unique=[]         #############

# Iterators

Iterable - Strings,Lists,Tuples,Sets,Dictionaries

Convert Iterable to Iterator -> it
For Loop:
    
Iterator:

In [103]:
it = iter('Python')

for i in it:
    print(next(it))
it

y
h
n

# Generators

Generator is Function

In [114]:
def generator():
    n=3
    yield n
    n = n ** 3
    yield n
    n=n ** 3
    yield n
a=generator()
next(a)
next(a)
next(a)

19683

In [123]:
def generator():
    n=3
    for i in range(1,5):
        n **= 3
        yield n
a=generator()
next(a)

next(a)

19683

In [128]:
def generator():
    n=2
    while True:
        n **= 3
        yield n
a=generator()
for i in range(5):
    print(next(a))
generator()

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208