# Python Library for data analysis
- series object one dimensional array
- Dataframe object-two dimensional data
- Reading data from csv files into dataframes
 - processing/accessing dataframes
     - columns
     - rows
 - updating dataframes
 - writing back to csv files

In [4]:
# function to read csv data into a datafrme and returns the dataframe object

filepath='datafiles/income.csv'
import pandas as pd
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [12]:
incomedf=readcsvdata(filepath)
# functiom to print all column names in a single line
#GEOID state 2005 2006 2007 2008 2009 2010...........
def printdataframecolumns(df):
    columns=df.columns
    for column in columns:
        print(column,end='   ')
    return
printdataframecolumns(incomedf)

GEOID   State   2005   2006   2007   2008   2009   2010   2011   2012   2013

In [13]:
# function to access a row based on a unique column value

def accessdataframerow(df,key):
    for row in df.values:
        for item in row:
            print(item,end=' ')
    return
accessdataframerow(incomedf,'04000US06')

04000US01 Alabama 37150 37952 42212 44476 39980 40933 42590 43464 41381 04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137 04000US04 Arizona 45245 46657 47215 46914 45739 46896 48621 47044 50602 04000US05 Arkansas 36658 37057 40795 39586 36538 38587 41302 39018 39919 04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528

In [24]:
# acessing a unique value based on row,column Information

# Income of a state in a given year
def getcolumnindex(df,colunkey):
    for i in range(len(df.columns)):
        columnindex=i
    return columnindex
def valuefromrowcolumn(df,rowkey,columnkey):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex
valuefromrowcolumn(incomedf,'california','2009')

NameError: name 'getrowindex' is not defined

In [22]:
incomedf.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
#function to update data based on rowkey and columnkey
def updatedatafromrowcolumn(df,rowkey,columnkey):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    df.loc[rowindex][columnindex]=newdata
    return
updatedatafromrowcolumn(incomedf,'Arizona','2007',62993)

TypeError: updatedatafromrowcolumn() takes 3 positional arguments but 4 were given